.mainFileInfoView {
  background-color: white;
  margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Roboto", Helvetica, Arial, sans-serif;
}zz

.mainFileInfoView h1{
    display: block;
    font-size: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 3px;
    font-weight: 300;
    color: #555;
    margin-bottom: 10px;
}

.mainFileInfoView h1 > span{
	display: block;
	margin-top: 2px;
    color: #555;
	font: 13px "Roboto", Helvetica, Arial, sans-serif;
}

.mainFileInfoView-logo {
  height: 70vmin;
}

.mainFileInfoView input {
    background-color: lightblue;
    width: 130px;
    margin: 3px 3px 3px 0;
    padding: 7px 6px 5px;
    font-size: 13px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 3px;
}

.mainFileInfoView input:read-only {
    background-color: rgb(241, 241, 241);
    color: black;
}

.mainFileInfoView-header {
  background-color: #F1F1F1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding: 20px;
  float: left;
  width: calc(100% - 200px);
}

div {}
.irods-error {
    background:#f2dede;
    border:1px solid #f00;
    list-style-indent:inside;
    margin:0 0 2em;
    padding:1em;
    display: none;
}

.irods-notification {
    background: white;
    border:1px solid #0000;
    margin: 30px auto;
    padding:1em;
    text-align: center;
    display: none;
}

.mainFileInfoView-link {
  color: #09d3ac;
}

.mainFileInfoView form {
    overflow: hidden;
}

.mainFileInfoView label {
    float: left;
    width: 200px;
    padding-right: 15px;
}

.mainFileInfoView input[type=submit], .mainFileInfoView input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

.mainFileInfoView input[type=submit]:hover, .mainFileInfoView input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

/*.mainFileInfoView button {
    float: right;
    width: calc(100% - 200px);
}*/
